/* All Global Css Start */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.container {
    width: 1820px;
    margin: 0 auto;
}

/* All Global Css End */


/* Header Section Start */
.headerParent {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h2 {
    font-size: 20px;
    font-weight: bold;
    color: #006747;
    padding-right: 882px;
    line-height: 25px;
    font-family: "Hind Madurai", sans-serif;
}

.navbarContent {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heartParent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    width: 80px;
    background-color: #c1eecb;
    border-radius: 15px;
}

.heartParent img {
    height: 20px;
}

.heartParent p {
    font-weight: bold;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    width: 80px;
    background-color: #c1eecb;
    border-radius: 15px;
}

.coin img {
    height: 20px;
}

.coin p {
    font-weight: bold;
}

.btn {
    height: 40px;
    width: 90px;
    color: white;
    background-color: #21b341;
    border-radius: 15px;
}

/* Header Section End */


/* Banner Section Start */
.bannerParent {
    padding-top: 30px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #013223 0%, #006747 50%, #013223 100%);
}

.bannerParent img {
    height: 100px;
    margin: 0 auto;
}

.bannerContent {
    color: white;
    text-align: center;
}

.bannerContent h1 {
    font-family: "Hind Madurai", sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bannerContent p {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;

}

/* Banner Section End */


body {
    background-color: #F5FFF6;
}



.card {
    padding: 40px;
}

.cardIcon {
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 6px 10px 6px;
    background-color: #FFE3E2;
}

.iconsParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsaorbojonin {
    padding: 10px;
    width: fit-content;
    background-color: rgb(204, 203, 203);
    border-radius: 10px;
}

.cardsaorbojonin p {
    font-size: 15px;
    color: rgb(63, 62, 62);
}

.card-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nationalEmergency {
    padding-bottom: 20px;
}

.card-title2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}

.btnfirst {
    width: 145px;
    margin-top: 20px;
}

.btnsecond {
    width: 145px;
    margin-top: 20px;
}

.btnfirst {
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 5px;
    border-radius: 10px; 
    text-align: center;
}

.leftsideCards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.rightsideCards {
    width: 900px;
    height: 1060px;
    background-color: white;

}


.cardsParent {
    display: flex;
    align-items: start;
    margin-top: 50px;
}

.rightSideCardFunction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

span {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
}